# default haf values
PGDATABASE=haf_block_log
PGUSER=haf_app_admin
PGHOST=172.17.0.2
PGPORT=5432
PGPOOLSIZE=2

# explained in readme
CONCURRENTLY=true
INDEXMAXTHREADS=4

# modular syncing
COMMENTS=true # comments, rewards, reblogs
COMMUNITIES=true
DELEGATIONS=true
RCDELEGATIONS=true
FOLLOWS=true # follows, mutes, blacklists
PROPOSALS=true
REPUTATIONS=false # Very experimental - depends on COMMENTS

# don't create indexes for operations and virtual operations
# useful if you don't intend to provide a public API and/or search the ops/vops views
# indexes for views op_* and vop_*
SKIPOPERATIONINDEXES=false

# Create hafsql_public role and grant SELECT on hafsql views - need haf_admin access
# user: hafsql_public - password: hafsql_public
# pg_hba entry: host haf_block_log hafsql_public all md5
PUBLICUSER=false